@media (max-width:800px){
.first-sec1{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
.first-head1{
    font-size: 10px;
}
.second-box1{
    display: inline-flex;
   flex-direction: column;
}
.fifth-ad-box1{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2,minmax(min-content,max-content));
  width: auto;
}
.fifth-im-box1{
  width: 100%;
}
.fifth-im-box2{
  width: 100%;
  margin: 0;
}
.fifth-im-box3{
  width: 100%;
  margin: 0;
}
.fifth-im-box4{
  width: 100%;
  margin: 0;
}
}
